@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
  .authButton {
    border-radius: 30px;
    border: 2px solid #707070;

    width: 196px;
    height: 64px;

    display: grid;
    justify-content: center;
    align-items: center;
  }
  .mobileMenu {
    display: none;
    background-color: red;
  }

  #menuToggleBtn:focus + .mobileMenu {
    display: block;
  }

  .submit-button {
    border: 1px solid #707070;

    background: #2e4262;
    color: white;
    text-transform: uppercase;
  }
  .error-message {
    color: red;
  }
}
@media (min-width: 1280px) and (max-width: 1536px) {
  .authButton {
    width: 140px;
    height: 45px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .authButton {
    width: 120px;
    height: 40px;
  }
}
@media (max-width: 1023px) {
  .authButton {
    border-radius: none;
    border: none;
    width: fit-content;
    height: fit-content;

    display: block;
  }
}
