@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
  .authButton {
    border-radius: 30px;
    border: 2px solid #707070;

    width: 196px;
    height: 64px;

    display: grid;
    justify-content: center;
    align-items: center;
  }

  .no-scroll {
    overflow: hidden;
  }
  .submit-button {
    border: 1px solid #707070;

    background: #2e4262;
    color: white;
    text-transform: uppercase;
  }
  .custom-date-picker::-webkit-calendar-picker-indicator {
    color: white;
    filter: invert(1);
  }

  .custom-date-picker::-webkit-datetime-edit {
    color: white;
  }
}
@layer utilities {
  .white-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

@media (min-width: 1280px) and (max-width: 1536px) {
  .authButton {
    width: 140px;
    height: 45px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .authButton {
    width: 120px;
    height: 40px;
  }
}
@media (max-width: 1023px) {
  .authButton {
    border-radius: none;
    border: none;
    width: fit-content;
    height: fit-content;

    display: block;
  }
}
